In [3]:
from plyfile import PlyData
import pandas as pd

In [5]:
plydata = PlyData.read("pointcloud.ply")
ply_pd = pd.DataFrame({key_: plydata['vertex'][key_] for key_ in ['x', 'y', 'z', 'red', 'green', 'blue', 'cx', 'cy', 'depth', 'alpha']})

In [6]:
ply_pd

,x,y,z,red,green,blue,cx,cy,depth,alpha
0,3.712441,-0.379664,-1.017501,0,0,0,0.0,0.0,3.388672,255
1,3.721317,-0.378725,-1.019537,0,0,0,0.0,1.0,3.396484,255
2,3.752594,-0.370215,-1.026797,0,0,0,0.0,2.0,3.423828,255
3,3.842113,-0.342061,-1.047638,0,0,0,0.0,3.0,3.501953,255
4,3.877866,-0.332139,-1.055940,0,0,0,0.0,4.0,3.533203,255
...,...,...,...,...,...,...,...,...,...,...
49147,1.005834,-1.397907,-0.233853,0,0,0,255.0,187.0,1.078125,255
49148,1.014360,-1.396397,-0.234726,0,0,0,255.0,188.0,1.085938,255
49149,1.005780,-1.399243,-0.233819,0,0,0,255.0,189.0,1.078125,255
49150,0.999338,-1.401536,-0.233135,0,0,0,255.0,190.0,1.072266,255
49151,1.010001,-1.399496,-0.234230,0,0,0,255.0,191.0,1.082031,255

In [7]:
ply_pd2 = pd.DataFrame({key_: plydata['vertex'][key_] for key_ in ['x', 'y', 'z', 'cx', 'cy', 'depth']})
ply_pd2

              x         y         z     cx     cy     depth
0      3.712441 -0.379664 -1.017501    0.0    0.0  3.388672
1      3.721317 -0.378725 -1.019537    0.0    1.0  3.396484
2      3.752594 -0.370215 -1.026797    0.0    2.0  3.423828
3      3.842113 -0.342061 -1.047638    0.0    3.0  3.501953
4      3.877866 -0.332139 -1.055940    0.0    4.0  3.533203
...         ...       ...       ...    ...    ...       ...
49147  1.005834 -1.397907 -0.233853  255.0  187.0  1.078125
49148  1.014360 -1.396397 -0.234726  255.0  188.0  1.085938
49149  1.005780 -1.399243 -0.233819  255.0  189.0  1.078125
49150  0.999338 -1.401536 -0.233135  255.0  190.0  1.072266
49151  1.010001 -1.399496 -0.234230  255.0  191.0  1.082031

[49152 rows x 6 columns]

In [8]:
list_width = plydata['vertex']['cx']
list_height = plydata['vertex']['cy']

In [11]:
list_width.size

49152

In [12]:
list_height.size

49152

49152